ul, ol {
  margin: 0;
  padding: 0;
  padding-left: 24px;
}

ul li, ol li {
  margin: 0;
  padding: 0;
}

.title-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 15px;
  color: #747678;
}

@media (max-width: 767px) {
  .title-1 {
    font-size: 20px;
  }
}

.title-2 {
  font-size: 4vw;
  font-weight: normal;
  color: #ab1032;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .title-2 {
    font-size: 30px;
  }
}

.sub-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  color: #535353;
}

@media (max-width: 767px) {
  p {
    font-size: 16px;
  }
}

a {
  color: #98989A;
}

a:hover {
  color: #ab1032;
}

@media (max-width: 768px) {
  .container {
    max-width: 680px;
  }
}

@media (max-width: 767px) {
  .container .row {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .navbar-nav.mr-auto.navigator .nav-item .home span {
    display: none;
  }
}

@media (max-width: 1023px) {
  .navbar-nav.mr-auto.navigator .nav-item .home svg {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: inherit;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 767px) {
  .banner-ceo {
    min-height: 890px;
  }
}

.banner-ceo .container .text-wrap {
  max-width: 794px;
  background: none transparent;
  text-align: right;
}

@media (max-width: 980px) {
  .banner-ceo .container .text-wrap {
    text-align: center;
  }
}

.banner-ceo .container .text-wrap p {
  font-size: 3vw;
  color: #535353;
  font-family: 'Conv_ADOBE GARAMOND PRO ITALIC';
  line-height: normal;
}

@media (max-width: 980px) {
  .banner-ceo .container .text-wrap p {
    font-size: 6vw;
  }
}

@media (max-width: 767px) {
  .banner-ceo .container .text-wrap p {
    font-size: 8.5vw;
    text-align: center;
  }
}

.banner-ceo .container .text-wrap span {
  font-size: 30px;
}

@media (max-width: 767px) {
  .banner-ceo .container .text-wrap span {
    font-size: 5vw;
    text-align: center;
    display: block;
  }
}

.banner-ceo .container .text-wrap strong {
  font-size: 20px;
}

@media (max-width: 767px) {
  .banner-ceo .container .text-wrap strong {
    font-size: 4vw;
    text-align: center;
  }
}

.page-caller {
  position: absolute;
  left: 0;
  right: 0;
  height: 144px;
  bottom: 30px;
}

@media (max-width: 980px) {
  .page-caller {
    display: none;
  }
}

.page-caller .controllers {
  position: absolute;
  right: 24px;
  top: 21px;
  height: 116px;
  width: 57px;
  text-align: center;
}

.page-caller .controllers a {
  width: 100%;
  display: block;
  line-height: 66px;
}

.page-caller .controllers a span {
  font-size: 30px;
  opacity: 1;
  color: #fff;
}

.page-caller .controllers a:hover {
  text-decoration: none;
}

.page-caller .thumb-wrap {
  position: relative;
  overflow: hidden;
  height: 139px;
  display: block;
  text-decoration: none;
}

.page-caller .thumb-wrap .label {
  display: none;
}

.page-caller .thumb-wrap .hover-element {
  opacity: 1;
  padding-left: 130px;
  background: #fff;
  width: 100%;
  -webkit-transform: translateY(139px);
  transform: translateY(139px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.page-caller .thumb-wrap .hover-element .label {
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: 17px;
  font-weight: normal;
  color: #98989A;
  font-size: 25px;
  position: absolute;
  top: -53px;
  left: 0;
}

.page-caller .thumb-wrap .hover-element .img-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 124px;
}

.page-caller .thumb-wrap .hover-element .img-wrap img {
  max-width: 100%;
}

.page-caller .thumb-wrap .hover-element .dt-wrap {
  padding: 13px;
}

.page-caller .thumb-wrap .hover-element .dt-wrap section.row-1 {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.page-caller .thumb-wrap .hover-element .dt-wrap section.row-1 .icon {
  display: inline-block;
  vertical-align: middle;
}

.page-caller .thumb-wrap .hover-element .dt-wrap section.row-1 .date {
  display: inline-block;
  vertical-align: middle;
  font-size: 38px;
  font-weight: bold;
  width: 43%;
  text-align: center;
  border-right: 1px solid #eee;
  margin-right: 10px;
  border-left: 1px solid #eee;
  margin-left: 10px;
  height: 52px;
  margin-bottom: 10px;
  line-height: 54px;
}

.page-caller .thumb-wrap .hover-element .dt-wrap section.row-1 .month {
  display: inline-block;
  vertical-align: middle;
  line-height: 15px;
}

.page-caller .thumb-wrap .hover-element.new .label:after {
  content: "\e90b";
  font-family: 'dksh' !important;
  margin-left: 15px;
  font-size: 20px;
  color: #ab1032;
}

.page-caller .thumb-wrap .hover-element.new .img-wrap::before {
  position: absolute;
  top: 0;
  content: "\e90a";
  font-size: 35px;
  color: #ab1032;
  font-family: 'dksh' !important;
  line-height: 1;
  left: -1px;
}

.page-caller .thumb-wrap .indicator {
  height: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.page-caller .thumb-wrap .indicator:after {
  background: #98989A;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 125px;
  height: 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.page-caller .thumb-wrap .indicator.current:after {
  background: #ab1032;
  width: 125px;
}

.page-caller .thumb-wrap:hover .hover-element {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.page-caller .thumb-wrap:hover .hover-element * {
  text-decoration: none;
}

.page-caller .thumb-wrap:hover .hover-element .row-2 b,
.page-caller .thumb-wrap:hover .hover-element .talker,
.page-caller .thumb-wrap:hover .hover-element .date,
.page-caller .thumb-wrap:hover .hover-element .icon,
.page-caller .thumb-wrap:hover .hover-element .month {
  color: #535353;
  text-decoration: none;
}

.page-caller .thumb-wrap:hover .indicator:after {
  background: #ab1032;
  width: 100%;
}

.mob-pg-caller {
  display: none;
}

@media (max-width: 980px) {
  .mob-pg-caller {
    display: block;
    background: #53284F;
    padding: 30px 40px;
  }
  .mob-pg-caller p {
    font-size: 6.3vw;
    color: #fff;
  }
  .mob-pg-caller select {
    padding: 10px;
    width: 100%;
    border: 1px solid #fff;
  }
}
/*# sourceMappingURL=customized.css.map */