@import "var";
@import "general";
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
@import url("../css/fonts.css");
html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

header {
  background-color: rgba(255, 255, 255, 0);
  padding: 15px 0;
  transition: all .5s linear;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2000;
  @media(max-width: 992px) {
    background-color: rgba(255, 255, 255, 1);
  }
  &.fixed {
    z-index: 2000;
    padding: 5px 0;
    box-shadow: 0 0 9px rgba(0, 0, 0, .3);
    background-color: rgb(255, 255, 255);
  }
  nav.navbar {
    padding: 0;
    .navbar-brand.logo {
      max-width: 130px;
      display: block !important;
      @media(max-width: 992px) {
        max-width: 100px;
      }
    }
    .nav-item {
      @media(min-width: 993px) {
        .nav-link.home {
          width: 38px;
          vertical-align: middle;
          margin: 0 15px;
          margin-top: -2px;
          svg {
            width: 100%;
          }
        }
      }
      &.active {
        .nav-link {
          color: $dksh-r !important;
        }
      }
    }
  }
  &.purpose-nav {
    .navbar-brand {
      svg {
        fill: #fff;
      }
    }
    ul.navbar-nav {
      li.nav-item {
        a.nav-link {
          color: #fff;
        }
        a {
          svg {
            * {
              fill: #fff;
            }
          }
        }
      }
    }
    &.fixed {
      ul.navbar-nav {
        li.nav-item {
          a.nav-link {
            color: $grey;
          }
          a {
            svg {
              * {
                fill: $grey;
              }
            }
          }
        }
      }
      .navbar-brand {
        svg {
          fill: $dksh-r;
        }
      }
    }
  }
}

.page-selector {
  position: fixed;
  right: 25px;
  top: 0;
  z-index: 200;
  bottom: 160px;
  display: flex;
  @media (max-width: 767px) {
    right: 15px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    margin: auto;
    position: relative;
    top: 112px;
    &:after {
      content: "";
      position: absolute;
      bottom: -100px;
      border-right: 2px dashed #fff;
      left: 9px;
      display: block;
      width: 1px;
      z-index: 100;
      height: 100px;
      @media (max-width: 767px) {
        left: 18px;
        bottom: -39px;
        height: 40px;
      }
    }
    &:before {
      content: "\e904";
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'dksh' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      bottom: -120px;
      left: 1px;
      width: 23px;
      font-size: 18px;
      color: #fff;
      animation: sdb05 1.5s infinite;
      @media (max-width: 767px) {
        bottom: -50px;
        left: 10px;
      }
    }
  }
  li {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    a {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #98989A;
      @media (max-width: 767px) {
        border-radius: 0;
        background-color: transparent;
        border: 0 none;
        border-right: 3px solid #98989a;
      }
      &.active {
        background: #ec355d;
        @media (max-width: 767px) {
          border-radius: 0;
          background-color: transparent;
          border: 0 none;
          border-right: 3px solid lighten($dksh-r, 20);
        }
      }
    }
  }
}

.section {
  height: 100%;
  @media (max-width: 980px) {
    height: auto;
  }
}

.hero-banner {
  &.purpose {
    position: relative;
    background: url(../images/img-purpose.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: static;
    @media (max-width: 980px) {
      background: url(../images/purpose-vertical.jpg) no-repeat;
      background-size: cover;
      background-position: left center;
      height: 100%;
    }
    @media (max-width:767px) {
      background-position: -110px center;
      height: 840px;
    }
  }
  .container {
    margin: auto;
    position: relative;
    @media (max-width: 980px) {
      margin-bottom: 15%;
    }
    @media (max-width:980px) {
      padding: 0 40px;
      margin-bottom: 0;
    }
    @media (max-width:767px) {
      padding: 0 0 25px 20px;
    }
    .dksh-title-1 {
      font-size: 6vw;
      margin-left: -10px;
      margin-top: -1.3vw;
      @media (max-width: 980px) {
        font-size: 7.3vw;
        margin-left: 0;
        margin-top: 0;
      }
      @media (max-width:980px) {
        font-size: 9.3vw;
      }
      &.integrity {
        color: #6a1c2b;
      }
      &.empowerment {
        color: #112851;
        @media (min-width: 1024px) {
          font-size: 5vw;
        }
      }
      &.collaboration {
        color: #008877;
        @media (min-width: 1024px) {
          font-size: 5vw;
        }
      }
    }
    .dksh-title-5 {
      margin-left: -10px;
      margin-top: -.9vw;
      @media (max-width: 980px) {
        margin-left: 0;
        margin-top: 0;
      }
    }
    p {
      font-size: 2vw;
      color: #fff;
      @media (max-width: 980px) {
        font-size: 3.3vw;
      }
      @media (max-width:767px) {
        font-size: 18px;
      }
    }
  }
  .fp-tableCell {
    display: flex;
  }
  .page-caller {
    position: absolute;
    left: 0;
    right: 0;
    height: 144px;
    bottom: 30px;
    z-index: 100;
    @media (max-width: 980px) {
      display: none;
    }
    .controllers {
      position: fixed;
      right: 5px;
      top: calc(100% - 149px);
      height: 116px;
      width: 57px;
      text-align: center;
      a {
        width: 100%;
        display: block;
        line-height: 66px;
        span {
          font-size: 30px;
          opacity: 1;
          color: $dksh-r;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .thumb-wrap {
      position: relative;
      overflow: hidden;
      height: 135px;
      display: block;
      text-decoration: none;
      .label {
        display: none;
      }
      .hover-element {
        opacity: 1;
        padding-left: 130px;
        background: #fff;
        width: 100%;
        -webkit-transform: translateY(139px);
        transform: translateY(139px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        @media (max-width: 1411px) {
          padding-left: 0;
        }
        .label {
          display: block;
          width: 100%;
          margin-top: auto;
          margin-bottom: 17px;
          font-weight: normal;
          color: #fff;
          font-size: 25px;
          position: absolute;
          top: -53px;
          left: 0;
          @media (max-width: 1411px) {
            font-size: 16px;
            top: -44px;
          }
        }
        .img-wrap {
          position: absolute;
          left: 0;
          top: 0;
          width: 124px;
          img {
            max-width: 100%;
          }
          @media (max-width:1411px) {
            display: none;
          }
        }
        .dt-wrap {
          padding: 15px 13px;
          section.row-1 {
            display: flex;
            width: 100%;
            vertical-align: middle;
            .icon {
              flex-basis: 0;
              -webkit-box-flex: 1;
              -ms-flex-positive: 1;
              flex-grow: 1;
              max-width: 100%;
              vertical-align: middle;
              margin: auto;
              padding: 0 5px;
            }
            .date {
              margin: auto;
              vertical-align: middle;
              font-size: 38px;
              font-weight: bold;
              // width: 43%;
              text-align: center;
              border-right: 1px solid #eee;
              // margin-right: 10px;
              border-left: 1px solid #eee;
              // margin-left: 10px;
              flex-basis: 0;
              -webkit-box-flex: 1;
              -ms-flex-positive: 1;
              flex-grow: 1;
              max-width: 100%;
              padding: 0 10px;
            }
            .month {
              margin: auto;
              vertical-align: middle;
              flex-basis: 0;
              -webkit-box-flex: 1;
              -ms-flex-positive: 1;
              flex-grow: 1;
              max-width: 100%;
              padding: 0 10px;
              line-height: 1;
            }
          }
          section.row-2 {
            b {
              font-size: 12px;
            }
          }
        }
        &.new {
          .label {
            &:after {
              content: "\e90b";
              font-family: 'dksh' !important;
              margin-left: 15px;
              font-size: 20px;
              color: $dksh-r;
            }
          }
          .img-wrap {
            &::before {
              position: absolute;
              top: 0;
              content: "\e90a";
              font-size: 35px;
              color: $dksh-r;
              font-family: 'dksh' !important;
              line-height: 1;
              left: -1px;
            }
          }
        }
      }
      .indicator {
        height: 5px;
        background-color: rgba(255, 255, 255, .3);
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        &:after {
          background: $grey;
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          bottom: 0;
          width: 125px;
          height: 100%;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
        }
        &.current {
          &:after {
            background: $dksh-r;
            width: 125px;
          }
        }
      }
      &:hover {
        .hover-element {
          -webkit-transform: translateY(0);
          transform: translateY(0);
          * {
            text-decoration: none;
          }
          .row-2 b,
          .talker,
          .date,
          .icon,
          .month {
            color: $black;
            text-decoration: none;
          }
        }
        .indicator {
          &:after {
            background: $dksh-r;
            width: 100%;
          }
        }
      }
    }
  }
  &.vision {
    position: relative;
    background: url(../images/img-vision.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: static;
    @media (max-width: 980px) {
      background: url(../images/vision-vertical.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100%;
    }
    .dksh-title-1 {
      color: $dksh-r;
      margin-left: -.3vw;
    }
    .dksh-title-5 {
      margin-left: 0;
    }
    p {
      color: $black;
      position: relative;
      z-index: 1;
      margin-left: 0;
      &:before {
        content: "";
        display: block;
        background: #fff;
        width: 184px;
        height: 189px;
        position: absolute;
        filter: blur(10px);
        z-index: -1;
        opacity: .6;
        top: -8px;
        left: -40px;
      }
    }
    @media (max-width:980px) {
      .container {
        margin-bottom: auto;
        margin-top: 16%;
      }
    }
    @media (max-width:767px) {
      .container {
        margin-top: 28%;
      }
    }
  }
  &.integrity {
    background-image: none;
    background-color: $dksh-c;
    @extend.vision;
    .col-12 {
      margin: auto;
      &.text-wrap {
        padding: 0 9%;
      }
    }
    .page-caller {
      .thumb-wrap {
        .label {
          color: $grey;
        }
        .indicator {
          background: rgba(0, 0, 0, .2);
        }
        .hover-element {
          border: 1px solid rgba(0, 0, 0, .1);
        }
      }
    }
    @media (max-width:767px) {
      .container {
        margin: auto;
      }
    }
  }
  @media (max-width:767px) {
    height: 840px;
  }
}

@media (min-width:1024px) {
  .container {
    max-width: inherit;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.element-intro {
  position: relative;
  z-index: 101;
  background: #fff;
  .txt-wrap {
    max-width: 900px;
    margin: auto;
    font-size: 3vw;
    color: $dksh-r;
    text-align: center;
    @media (max-width: 980px) {
      max-width: 62%;
      font-size: 7vw;
    }
  }
  @media (max-width:980px) {
    height: 100%;
  }
  @media (max-width:767px) {
    height: 600px;
  }
}

.ceo-talk {
  background: $dksh-r;
  overflow: hidden;
  position: relative;
  z-index: 101;
  .container {
    height: 100%;
    .row {
      height: 100%;
      .col-lg-6 {
        height: 100%;
        display: flex;
        @media (max-width: 980px) {
          height: initial;
        }
      }
    }
    .txt-wrap {
      margin: auto;
      .ceo-title {
        font-size: 3vw;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
        margin-bottom: 3vw;
      }
      @media (max-width:980px) {
        margin-top: 24%;
        margin-bottom: 0;
      }
      @media (max-width:767px) {
        margin-top: 42%;
      }
      .icon-quote {
        font-size: 40px;
        color: #fff;
      }
      padding-left: 14%;
      text-align: right;
      @media (max-width:980px) {
        padding-right: 11%;
      }
      .talk {
        color: #fff;
        font-size: 3vw;
        font-family: 'Conv_ADOBE GARAMOND PRO ITALIC';
        @media (max-width: 980px) {
          font-size: 5vw;
        }
        @media (max-width:767px) {
          font-size: 8vw;
        }
      }
      .author {
        font-size: 25px;
        margin-bottom: 0;
        color: #fff;
      }
      .position {
        color: #fff;
        font-size: 18px;
      }
    }
    .img-wrap {
      width: 100%;
      position: relative;
      img {
        position: absolute;
        top: 0%;
        right: 0;
        left: 0;
        @media (max-width: 980px) {
          top: -120%;
        }
        @media (max-width:767px) {
          top: -100%;
        }
        @media (max-width:320px) {
          top: -100%;
        }
      }
    }
  }
  .fp-tableCell {
    display: block;
  }
  @media (max-width:1024px) {
    height: 600px;
  }
  @media (max-width:980px) {
    height: 100%;
  }
  @media (max-width:767px) {
    height: 810px;
  }
  &.vison-talk {
    @media (max-width: 767px) {
      height: 1010px;
    }
    .container {
      @media (max-width: 767px) {
        .txt-wrap {
          margin-top: 40px;
          .ceo-title {
            font-size: 30px;
          }
        }
      }
    }
  }
}

.activity-section {
  position: relative;
  z-index: 101;
  background: #fff;
  @media (max-width: 460px) {
    height: auto !important;
  }
  .fp-tableCell {
    @media (max-width: 767px) {
      height: auto !important;
    }
  }
  .container {
    height: 100%;
    padding: 0;
    @media (max-width: 890px) {
      max-width: 100%;
    }
    .row {
      height: 100%;
      .col-lg-6.img {
        background: url(../images/happy-employee.jpg) center left;
        height: 100%;
        background-size: cover;
        @media (max-width: 980px) {
          background: url(../images/happy-employee.jpg) top left;
          height: 40%;
          background-size: cover;
        }
        @media (max-width:767px) {
          min-height: 470px;
        }
        &.integrity {
          background: url(../images/happy-employees.png);
          background-size: cover;
        }
        &.collaboration {
          background: url(../images/activity-collaboration.jpg) center;
          background-size: cover;
        }
      }
      .col-lg-6.right {
        display: flex;
        height: 100%;
        @media (max-width: 980px) {
          height: 60%;
        }
        @media (max-width:767px) {
          height: 650px;
        }
        .txt-wrap {
          margin: auto;
          width: 70%;
          @media (max-width: 980px) {
            width: 90%;
          }
          @media (max-width:767px) {
            padding: 40px 30px 0;
            width: initial;
          }
          .dksh-title-3 {
            color: $dksh-r;
            margin-bottom: 30px;
          }
          .dksh-title-5 {
            color: $grey;
          }
          .dksh-title-4 {
            color: $dksh-r;
          }
          p {
            i {
              font-size: 14px;
            }
          }
          .btn {
            margin-top: 30px;
            @media (max-width: 767px) {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  @media (max-width:980px) {
    height: 100%;
  }
  @media (max-width:767px) {
    height: auto;
  }
}

.vision-section {
  position: relative;
  z-index: 101;
  background: #fff;
  @extend .activity-section;
  .container {
    height: 100%;
    padding: 0;
    @media (max-width: 980px) {
      max-width: 100%;
    }
    .row {
      height: 100%;
      .col-lg-6.img {
        background: url(../images/strategy.jpg) center center;
        @media (max-width: 980px) {
          height: 600px;
        }
      }
      .col-12.col-lg-6.right {
        @media (max-width: 980px) {
          height: 600px;
        }
      }
    }
  }
  @media (max-width:980px) {
    height: auto;
  }
}

.promise-section {
  position: relative;
  z-index: 101;
  background: #fff;
  @extend .activity-section;
  .container {
    height: 100%;
    @media (max-width: 980px) {
      max-width: 100%;
    }
    padding: 0;
    .row {
      height: 100%;
      .col-lg-6.img {
        background: url(../images/promise.jpg) center center;
        @media (max-width: 980px) {
          height: 600px;
        }
      }
      .col-12.col-lg-6.right {
        @media (max-width: 980px) {
          height: 500px;
        }
      }
    }
  }
  @media (max-width:980px) {
    height: auto;
  }
}

.testimonials {
  position: relative;
  z-index: 101;
  background: #fff;
  .container {
    height: 100%;
    padding: 0;
    @media (max-width: 980px) {
      max-width: 100%;
    }
    @media (max-width:767px) {
      max-width: initial;
    }
    .row {
      height: 100%;
      @media (max-width: 767px) {
        height: initial;
      }
      .col-lg-6 {
        display: flex;
        .txt-wrap {
          margin: auto;
          width: 70%;
          @media (max-width: 980px) {
            padding: 80px;
            width: initial;
          }
          @media (max-width:767px) {
            padding: 99px 25px 117px;
          }
          .dksh-title-3 {
            color: $dksh-r;
            margin-bottom: 30px;
          }
          .dksh-title-4 {
            color: $grey;
          }
        }
        @media (max-width:890px) {
          height: 600px;
        }
        @media (max-width:767px) {
          height: auto;
        }
      }
      .testi-slide {
        @media (max-width: 890px) {
          height: 600px;
        }
        @media (max-width:767px) {
          height: 800px;
        }
        @media (max-width:400px) {
          height: 890px;
        }
        padding-left: 0;
        .carousel-control {
          border: none 0;
          bottom: 40px;
          top: inherit;
          font-family: 'dksh' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          width: 80px;
          height: 90px;
          text-align: center;
          line-height: 90px;
          opacity: 1;
          &:after {
            color: $dksh-r;
          }
          @media (max-width:767px) {
            width: 40px;
            height: 40px;
            line-height: 40px;
          }
          &.carousel-control-prev {
            left: -130px;
            bottom: 112px;
            border-bottom: 1px solid $dksh-r;
            &:after {
              content: "\e902";
            }
            @media (max-width:980px) {
              left: 67px;
              bottom: initial;
              top: 20px;
              border-right: 1px solid $dksh-r;
              border-bottom: 0 none;
            }
          }
          &.carousel-control-next {
            left: -130px;
            bottom: 22px;
            &::after {
              content: "\e903";
            }
            @media (max-width:980px) {
              left: 148px;
              bottom: initial;
              top: 20px;
            }
            @media (max-width:767px) {
              left: 107px;
            }
          }
        }
        height: 100%;
        display: flex;
        .slide {
          width: 100%;
          height: 100%;
          .carousel-inner {
            height: 100%;
            .carousel-item {
              height: 100%;
              &.cg {
                .fp-bg {
                  height: 100%;
                  background: url('../images/cg-1.jpg');
                  background-size: cover;
                  background-position: center;
                }
              }
              &.hec {
                .fp-bg {
                  background: url('../images/hec.jpg');
                  background-size: cover;
                  height: 100%;
                  background-position: right center;
                }
              }
              &.pm {
                .fp-bg {
                  background: url('../images/pm.jpg');
                  background-size: cover;
                  height: 100%;
                  background-position: right center;
                }
              }
              &.tec {
                .fp-bg {
                  background: url('../images/tec.jpg');
                  background-size: cover;
                  background-position: center center;
                  height: 100%;
                }
              }
              .fp-bg {
                position: relative;
                @media (max-width: 767px) {
                  background-size: 100% !important;
                  background-repeat: no-repeat !important;
                  background-position: inherit !important;
                  padding-top: 141px !important;
                }
              }
              .fp-bg {
                .text-wrap {
                  bottom: 30px;
                  position: absolute;
                  left: 0;
                  right: 0;
                  padding: 80px 80px 0px;
                  z-index: 5;
                  @media (max-width: 767px) {
                    margin: 40px;
                    padding: 0;
                    background: #fff;
                    position: initial;
                    padding: 25px;
                  }
                  p.comment {
                    color: #fff;
                    font-size: 30px;
                    font-family: 'Conv_ADOBE GARAMOND PRO ITALIC';
                    @media (max-width: 767px) {
                      color: $grey;
                      font-size: 20px;
                    }
                  }
                  p.by {
                    color: #fff;
                    font-size: 25px;
                    margin-bottom: 0;
                    @media (max-width: 767px) {
                      color: $grey;
                      font-size: 19px;
                    }
                  }
                  p.position {
                    color: #fff;
                    font-size: 80px 80px 25px;
                    font-size: 16px;
                    @media (max-width: 767px) {
                      color: $grey;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background: #fff;
  position: relative;
  z-index: 101;
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 0 0px 0;
  }
  .tagline {
    color: $dksh-r;
    padding: 10px 60px;
    background: #e8e7e7;
    font-weight: bold;
    @media (max-width: 767px) {
      padding: 10px 15px;
    }
  }
  .footer-section {
    padding: 10px 60px;
    background: $grey;
  }
  span {
    color: #fff;
    padding: 9px 0;
    display: block;
  }
  ul {
    // text-align: right;
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      list-style: none;
      a {
        color: #fff;
        padding: 0 25px;
      }
    }
  }
}

.mob-pg-caller {
  display: none;
  @media (max-width: 980px) {
    p {
      font-size: 6.3vw;
      color: #fff;
    }
    display: block;
    background: $dksh-p;
    padding: 30px 40px;
    select {
      padding: 10px;
      width: 100%;
      border: 1px solid #fff;
    }
  }
  @media (max-width:767px) {
    height: initial;
    padding: 40px 40px;
  }
}

// module 3
.winners {
  position: relative;
  z-index: 101;
  height: auto !important;
  background: #fff;
  @media (min-width: 1024px) {
    padding-right: 70px;
  }
  .row {
    margin: 0;
    .col.first-head {
      flex-basis: 87.5%;
      background: $dksh-c;
      color: $dksh-r;
      display: flex;
      @media (max-width: 1024px) {
        flex-basis: 100%;
        min-height: 200px;
      }
      @media (max-width:980px) {
        flex-basis: 66.5%;
      }
      .inner {
        margin: auto auto auto 5%;
        text-align: left;
        padding: 20px 30px;
        @media (max-width: 1024px) {
          margin-left: 0;
          padding-left: 40px;
        }
        @media (max-width:767px) {
          padding-left: 20px;
        }
        h6 {
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-weight: bold;
          font-size: 2.2vw;
          line-height: 1;
          color: $dksh-r;
          @media (max-width: 1024px) {
            font-size: 4.2vw;
          }
          @media (max-width:767px) {
            font-size: 8.3vw;
          }
        }
        p {
          color: $grey;
          font-size: 30px;
          font-weight: 400;
          margin-bottom: 0;
          @media (max-width: 767px) {
            font-size: 25px;
          }
        }
      }
    }
    .pic.col {
      width: 12.5%;
      position: relative;
      margin: 0;
      padding: 0;
      overflow: hidden;
      flex-basis: 12.5%;
      @media (max-width: 1024px) {
        flex-basis: 17.5%;
      }
      @media (max-width:980px) {
        flex-basis: 33.33%;
      }
      @media (max-width:767px) {
        flex-basis: 100%;
      }
      @media (max-width:1024px) {
        &:after {
          content: "\e909";
          position: absolute;
          right: 20px;
          top: 20px;
          color: #fff;
          font-size: 20px;
          font-family: 'dksh' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &::before {
          position: absolute;
          right: 0;
          top: 0;
          width: 60px;
          height: 63px;
          background: #000;
          display: block;
          content: "";
          filter: blur(50px);
        }
      }
      cursor: pointer;
      .label {
        .inner {
          margin: auto;
        }
        display: flex;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 70px;
        padding: 0px 15px 15px 15px;
        font-size: 12px;
        text-align: center;
        .name {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 0;
          @media (max-width: 767px) {
            font-size: 23px;
          }
        }
        .place {
          font-size: 14px;
          letter-spacing: 6px;
          margin: 0;
          @media (max-width: 767px) {
            font-size: 20px;
          }
        }
        .quote {
          visibility: hidden;
          height: 0;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          opacity: 0;
          .icon {
            display: block;
            margin-top: 15px;
            &:after {
              content: "\e900";
              font-family: 'dksh' !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              /* Better Font Rendering =========== */
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 16px;
            }
          }
          p {
            font-size: 12px;
            @media (max-width: 767px) {
              font-size: 20px;
            }
          }
        }
      }
      &:nth-child(even) {
        .label {
          background: rgba(171, 16, 50, .8);
          * {
            color: #fff;
          }
        }
      }
      &:nth-child(odd) {
        .label {
          background: rgba(255, 255, 255, .8);
          * {
            color: darken($grey, 20%);
          }
        }
      }
      &:hover {
        .label {
          min-height: 100%;
          .quote {
            visibility: visible;
            height: auto;
            opacity: 1;
          }
        }
      }
    }
  }
}

.testi-video {
  position: relative;
  z-index: 101;
  background: #fff;
  .container {
    height: 100%;
    padding: 0;
    @media (max-width: 992px) {
      max-width: 100%;
    }
    .row {
      height: 100%;
    }
  }
  .testy-left {
    background: $dksh-r;
    padding: 0;
    margin: 0;
    @media (max-width: 992px) {
      min-height: 600px;
    }
  }
  .testi-v-w {
    padding: 0;
    margin: 0;
    height: 100%;
    display: table;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  .v-slider-wrap {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    background: #fff;
    @media (max-width: 992px) {
      height: 992px;
      padding: 50px 0;
    }
    .testi-v {
      margin: auto;
      .carousel-3d-container {
        .carousel-3d-slide {
          background: $dksh-c;
          padding: 20px;
          border: 0 none;
          box-sizing: border-box;
          .label {
            display: block;
            background: #212529;
            padding: 13px;
            text-align: center;
            color: #fff;
            font-size: 17px;
            // position: absolute;
            // bottom: 4px;
            // left: 20px;
            // right: 20px;
          }
          @media (max-width:767px) {
            padding: 5px 20px;
          }
          video {
            width: 100%;
            vertical-align: bottom;
          }
          video::-webkit-media-controls {
            // display: none;
          }
          video::-moz-media-controls {
            // display: none;
          }
          video::media-controls {
            // display: none;
          }
        }
        .carousel-3d-controls {
          left: 70px;
          right: 70px;
          width: auto;
          a {
            span {
              color: $grey;
            }
          }
        }
      }
    }
  }
  .txt-wrap {
    margin: auto;
    max-width: 60%;
    @media (max-width: 767px) {
      max-width: 100%;
      margin-top: 180px;
      margin-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}